body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.header, .footer {
    align-self: stretch;
    margin-left: -8px;
    margin-right: -18px;
}

.header {
    margin-bottom: 30px;
    margin-top: -26px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
}

.push {
    margin-left: auto;
}

.logo {
    font-size: 34px;
    margin: 20px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: -8px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    height: 1200px;
    width: 800px;
    background-color: #f9faf8;
    margin-top: 60px;
    margin-bottom: 10px;
    border-radius: 25px;
    align-items: stretch;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.review {
    height: 100px;
    background-color: rgb(240, 240, 240);
    border: rgb(255, 255, 255) solid;
    margin: 10px;
    padding: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    margin: 10px;
    color: #e5e7eb;
}

a:visited {
    color: #e5e7eb;
}


a.home {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    margin-top: 50px;
}

a.home:visited {
    color: #1f2937;
}